<div id="NamespaceSettingsInfo" class="full-page">

    <div class="spacer-80"></div>
    <div class="spacer-30"></div>


    <div class="sfondo-info">
        <h2 class="ttl-main-title">Playground Milano</h2>

        <div class="spacer-10"></div>
        <h3 class="ttl-secondary-center-title">Versione 1.0</h3>

        <img src="../../../images/logo.png" alt="logo">

        <div class="info-sviluppatori">
            <h3 class="ttl-secondary-center-title">Sviluppatori:</h3>

            <div class="spacer-10"></div>
            <h4 class="ttl-secondary-center-title">Gabriel Mayta</h4>
            <h4 class="ttl-secondary-center-title">Mario Brito</h4>
            <h4 class="ttl-secondary-center-title">Lorenzo Veneziani</h4>
            <h4 class="ttl-secondary-center-title">Sebastian Cardenas</h4>

        </div>
    </div>

</div>