 <div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
     
     <h1 class="domanda">Come faccio a iscrivermi?</h1>

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>Puoi scegliere di utilizzare il tuo account Facebook e registrarti con quello per usufruire di tutti i servizi dell'app di Playground Milano, oppure tramite il pulsate "Registrati" nel menù in alto. Ti serviranno solamente un indirizzo mail e una password da scegliere. Ti informiamo che la password viene criptata e non è visibile nemmeno allo staff di Playground Milano.</p>
                </div>
            </div>
        </div>
</div>