<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
 <h1 class="domanda">Cosa mi serve per iscrivermi?</h1>
    

        <div class="spacer-20"></div>
            <div class="full-page">

       

            <div class="faq">
                <div class="risposta">
                    <p>Nel caso ti vorrai iscrivere con l'account di Facebook, ti serviranno solo i tuoi dati con cui accedi normalmente. Altrimenti serviranno solamente un indirizzo mail e una password da scegliere. Ti informiamo che la password viene criptata e non è visibile nemmeno allo staff di Playground Milano.</p>
                </div>
                </div>
        </div>
    </div>
        
