<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
    <h1 class="domanda">Come faccio a cancellarmi?</h1>
    

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>Per cancellare il tuo account, invia una mail a staff@playground-milano.it con i tuoi dati con cui ti sei registrato e le motivazioni.</p>
                </div>
            </div>
        </div>
    </div>

