<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">

    <div class="spacer-20"></div>

    <h1 class="intestazione_faq">Domande frequenti</h1>


    <ul class="faq">
        <li ui-sref="faq.iscrizione">
            <i class="header-icon-arrow icon-chevron-right"></i>
            <p>Iscrizione</p>
        </li>
        <li class="ultimo" ui-sref="faq.servizi">
            <i class="header-icon-arrow icon-chevron-right"></i>
            <p>Servizi</p>
        </li>
    </ul>

</div>