<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">

    <div class="spacer-20"></div>
    <h1 class="intestazione_faq">F.A.Q. Servizi</h1>

    <div class="faq">
        <ul>
            <li ui-sref="faq.servizi.qualiservizi">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Cosa posso fare con questa app?</p>
            </li>
            <li ui-sref="faq.servizi.obbligatoria">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Devo registrarmi per usare i servizi dell'app?</p>
            </li>
            <li ui-sref="faq.servizi.segnalazione">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come posso segnalare un campetto non presente sulla mappa?</p>
            </li>
            <li ui-sref="faq.servizi.recensione">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come posso segnalarvi un campo che vorrei far recensire?</p>
            </li>
            <li class="ultimo" ui-sref="faq.servizi.fuorimilano">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Sono segnalati solo i campetti di Milano?</p>
            </li>
        </ul>
    </div>
</div>