<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">

    <div class="spacer-20"></div>
    <h1 class="intestazione_faq">F.A.Q. Iscrizione</h1>

    <div class="faq">
        <ul>
            <li ui-sref="faq.iscrizione.comeiscriversi">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come faccio ad iscrivermi?</p>
            </li>
            <li ui-sref="faq.iscrizione.pagamento">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>L'iscrizione è a pagamento?</p>
            </li>
            <li ui-sref="faq.iscrizione.chisiscrive">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Chi si può iscrivere?</p>
            </li>
            <li ui-sref="faq.iscrizione.cosaserve">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Cosa mi serve per iscrivermi?</p>
            </li>
            <li ui-sref="faq.iscrizione.conferma">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come faccio a confermare la mia iscrizione?</p>
            </li>
            <li ui-sref="faq.iscrizione.accedi">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come faccio ad accedere?</p>
            </li>
            <li class="ultimo" ui-sref="faq.iscrizione.cancellazione">
                <i class="header-icon-arrow icon-chevron-right"></i>

                <p>Come faccio a cancellarmi?</p>
            </li>
        </ul>
    </div>
</div>
