<div id="NamespaceLogin" class="no-background">

    <div define-area type-area="backbuttonAccess">
        <div back-button class="backbuttonAccess header-icon-backbutton icon-chevron-left"></div>
    </div>

    <div class="spacer-80"></div>

    <div class="label-info">
        Per cambiare la password inserisci il codice che ti è stato inviato per email
    </div>

    <div class="spacer-20"></div>

    <div class="margin-lateral">

        <form name="resetpasswordForm" novalidate>
            <input ng-model="resetpasswordData.code"
                   ng-required="true"
                   type="text"
                   class="border iptxxl"
                   placeholder="Il codice..."/>
            <i class="iptLarge-icon fa fa-envelope-o"></i>

            <div class="spacer-20"></div>

            <input ng-model="resetpasswordData.password"
                   ng-required="true"
                   type="password"
                   class="border iptxxl"
                   placeholder="Password..."/>
            <i class="iptLarge-icon fa fa-key"></i>

            <div class="spacer-20"></div>

            <input ng-model="resetpasswordData.confirmpassword"
                   ng-required="true"
                   type="password"
                   class="border iptxxl"
                   placeholder=" password..."/>
            <i class="iptLarge-icon fa fa-key"></i>

            <div class="spacer-20"></div>

            <input ng-click="formResetPassword($event)"
                   ng-disabled="!resetpasswordForm.$valid"
                   type="submit"
                   class="btn-xxl btn-red"
                   value="Reset password"/>
        </form>

    </div>

</div>