<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
    <h1 class="domanda">Come posso segnalarvi un campo che vorrei far recensire?</h1>
    

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>Puoi scriverci una mail a staff@playground-milano.it, comunicandoci l'indirizzo del campetto, e insieme possiamo concordare una data.</p>
                </div>
            </div>
        </div>
    </div>

