<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
    <h1 class="domanda">Come posso segnalare un campetto non presente sulla mappa?</h1>
    

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>Puoi segnalare un campetto scrivendo una mail a staff@playground-milano.it, comunicandoci l'indirizzo.</p>
                </div>
            </div>
        </div>
    </div>

