<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
    <h1 class="domanda">Cosa posso fare con questa app?</h1>
    

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>L'app di Playground Milano ti permette di vedere dove sono tutti i campetti del Comune di Milano; hai solo l'imbarazzo di
                        scegliere dove andare a giocare! Puoi vedere quante persone ci saranno in un determinato campetto e confermare la presenza
                        anche tu, cercare il più vicino rispetto a dove ti trovi, visualizzare le nostre recensioni e molto altro. </p>
                </div>
            </div>
        </div>
    </div>

