<div id="NamespaceFaqHome" define-area type-area="withHeader" class="withHeader scrollable-area">   
    <h1 class="domanda">Devo registrarmi per usare i servizi dell'app?</h1>
    

        <div class="spacer-20"></div>
        <div class="full-page">

            <div class="faq">
                <div class="risposta">
                    <p>Si. Se non ti iscrivi puoi comunque visualizzare i campi nelle vicinanze sulla mappa.</p>
                </div>
            </div>
        </div>
    </div>

